<html>

<head>
    <title>HACKTRAFFICTHING</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.14.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javscript" src="http://maps.google.com/maps/api/js?sensor=false"></script>    
    <script type="text/javascript" src="http://openlayers.org/api/2.10/OpenLayers.js"></script>
    <script type="text/javascript" src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
        
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.14.custom.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-ui-timepicker-addon.css" type="text/css">
</head>

<body>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}. <a href="{% url logout %}">logout</a></p>
    
    {% else %}
        <p>Welcome, new user. Please <a href="{% url login %}">log in</a>.</p>
    {% endif %}
    {% block content %}
    {% endblock content %}
</body>

</html>