{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
var polygonLayer = new OpenLayers.Layer.Vector("Polygon Layer");
var polygonControl;
var map;
</script>


<script type="text/javascript" src="/static/js/commutemap.js"></script>

{% if commute %}
<script type="text/javascript">

$(document).ready(function() {
    var bound = '{{ commute.box.wkt }}';
    poly = wkt.read(bound);
    center = poly.geometry.getCentroid();
    
    var polygonFeature = new OpenLayers.Feature.Vector(
                poly.geometry.transform(
                    new OpenLayers.Projection("EPSG:4326"),
                    map.getProjectionObject()));    
    
    polygonLayer.addFeatures([polygonFeature]);
    
    
    map.setCenter(
                new OpenLayers.LonLat(center.x, center.y).transform(
                    new OpenLayers.Projection("EPSG:4326"),
                    map.getProjectionObject()
                ), 8
            );
            
});

</script>
{% endif %}

<form action="." method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Please Save My Commute" />
</form>

<div id="mapcontainer">

<div id="map" class="smallmap"></div>

<ul id="controls"><b>Map Controls</b>
            <li>
                <input type="radio" name="type"
                       value="none" id="noneToggle"
                       onclick="polygonControl.deactivate()"
                       checked="checked" />
                <label for="noneToggle">navigate</label>
            </li>
            <li>
                <input type="radio" name="type"
                       value="polygon" id="polygonToggle"
                       onclick="activate()" />
                <label for="polygonToggle">draw polygon</label>
            </li>
        </ul>
        
</div>

{% endblock %}
