{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
var polygonLayer = new OpenLayers.Layer.Vector("Polygon Layer");
var polygonControl;
</script>

<script type="text/javascript" src="/static/js/commutemap.js"></script>

<form action="." method="POST">
    {% csrf_token %}
    <label for="name">Name: </label>
    <input type="text" name="name" /> <br />
    <label for="starttime">Start Time: </label>
    <input type="text" name="starttime" id="starttime"/><br />
    <label for="endtime">End Time: </label>
    <input type="text" name="endtime" id="endtime"/><br />
    <input type="hidden" name="wkt" id="wkt" />
    <input type="submit" value="Please Save My Commute" />
</form>

<div id="map" class="smallmap"></div>

<ul id="controls"><b>Map Controls</b>
            <li>
                <input type="radio" name="type"
                       value="none" id="noneToggle"
                       onclick="polygonControl.deactivate()"
                       checked="checked" />
                <label for="noneToggle">navigate</label>
            </li>
            <li>
                <input type="radio" name="type"
                       value="polygon" id="polygonToggle"
                       onclick="activate()" />
                <label for="polygonToggle">draw polygon</label>
            </li>
        </ul>

{% endblock %}