{% extends "base.html" %}

{% block content %}

<table>
    <tr>
        <td>Current Road Works</td>
        <td>{{ currentroad }}</td>
    </tr>
    <tr>
        <td>Future Road Works</td>
        <td>{{ futureroad }}</td>
    </tr>
    <tr>
        <td>Unplanned Event</td>
        <td>{{ unplannedevent }}</td>
    </tr>
</table>

<form action="./currentroad" method="POST">
{% csrf_token %}
<input type="submit" value="Current Road Works" />
</form>

<form action="./futureroad" method="POST">
{% csrf_token %}
<input type="submit" value="Future Road Works" />
</form>

<form action="./unplannedevent" method="POST">
{% csrf_token %}
<input type="submit" value="Unplanned Events" />
</form>

<form action="./affected" method="POST">
{% csrf_token %}
<input type="submit" value="Affected Commutes" />
</form>
{% endblock %}